@model JobFairInformationForm.Models.InformationForm.InformationFormViewModel
@using JobFairInformationForm.Controllers;
@using JobFairInformationForm.Database.Entities;

<h2>
    Questionnaire
</h2>
<img src="~/images/cn-group-logo.png" alt="logo" />
@if (ViewData.ContainsKey(InformationFormController.MessageKey))
{
<text>
    <div id="successMessage" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    @ViewData[InformationFormController.MessageKey]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</text>
}
@foreach (var modelState in ViewData.ModelState.Values)
{
    foreach (var error in modelState.Errors)
    {
        <text><div class="text-danger">@error</div></text>
    }
}
<form asp-action="Create">
    <input type="hidden" asp-for="Id" />
    <div class="form-horizontal">
        @*<h4>InformationFormViewModel</h4>*@
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="LocationCheckboxes" class="col-sm-4 control-label">Location</label>
            <div class="col-sm-7">
                @foreach (var checkbox in Model.LocationCheckboxes)
                {
                <label for="location-@checkbox.Id" style="font-weight: normal">
                    <input type="checkbox" id="location-@checkbox.Id" name="CheckedLocations[@checkbox.Id]" @if (checkbox.Checked) { <text> checked="checked" </text>  } /> @checkbox.Name
                </label><br>
                }
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PreferredJob" class="col-sm-4 control-label">Preffered job</label>
            <div class="col-sm-7">
                <label for="PreferredJob1" style="font-weight: normal">
                    <input id="PreferredJob1" type="radio" name="PreferredJob" value="Tester" @if(Model.PreferredJob=="Tester" ){<text>checked="checked"</text>}> SW Tester
                </label><br>
                <label for="PreferredJob2" style="font-weight: normal">
                    <input id="PreferredJob2" type="radio" name="PreferredJob" value="Developer" @if(Model.PreferredJob=="Developer" ){<text>checked="checked"</text>}> Developer
                </label><br>
                <label for="PreferredJob3" style="font-weight: normal">
                    <input id="PreferredJob3" type="radio" name="PreferredJob" value="Other" @if(Model.PreferredJob!="Tester" && Model.PreferredJob !="Developer" )
                           {<text>checked="checked"</text>}/> Other <input type="text" name="PreferredJobOther" @if (Model.PreferredJob !="Tester" && Model.PreferredJob !="Developer" ) {<text> value="@Model.PreferredJob"</text>} id="other_name" />
                </label>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-sm-4 control-label">Name</label>
            <div class="col-sm-7">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Surname" class="col-sm-4 control-label">Surname</label>
            <div class="col-sm-7">
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-sm-4 control-label">Phone number</label>
            <div class="col-sm-7">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-sm-4 control-label">Email</label>
            <div class="col-sm-7">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Allocation" class="col-sm-4 control-label">Allocation</label>
            <div class="col-sm-7">
                <input asp-for="Allocation" class="form-control" />
                <span class="numberOfHours">Number of hours per week.</span><br />
                <span asp-validation-for="Allocation" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GraduationDate" class="col-sm-4 control-label">Expected graduation date</label>
            <div class="col-sm-7">
                <input asp-for="GraduationDate" class="form-control" placeholder="DD/MM/YYY" type="text" />
                <span asp-validation-for="GraduationDate" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Education" class="col-sm-4 control-label">Education</label>
            <div class="col-sm-7">
                <input asp-for="Education" class="form-control" />
                <span asp-validation-for="Education" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NoteString" class="col-sm-4 control-label">Note</label>
            <div class="col-sm-7">
                <input asp-for="NoteString" class="form-control" />
                <span asp-validation-for="NoteString" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <input type="submit" value="Save" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-default">Cancel</a>
            </div>

        </div>
    </div>
</form>


<div>
    <a asp-action="Index" hidden="">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


<script type="text/javascript">
    $(function () {
        $('#successMessage').modal();
    });

    $('#other_name').click(function () {

        $('#PreferredJob3').prop('checked', true);
    });
    $("input[name='PreferredJob']:not(#PreferredJob3)").click(function () {
        $('#other_name').val("");
    })

    $(function () {
        //var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : $("body");
        var options = {
            startDate: '+1d',
            format: 'dd/mm/yyyy',
            //container: container,
            autoclose: true,
            orientation: "bottom auto",
        };
        $('#GraduationDate').datepicker(options);
    })

</script>
}
